body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9fafb;
    color: #333;
    text-align: center;
    margin: 50px;
}

h1{
    color: #0078d7;
}

nav a{
    margin: 0 10px;
    text-decoration: none;
    color: #555;
}

nav a:hover{
    color: #0078d7;
}